.rating-span {
    font-size: 16px;
}

.rating-score {
    font-size: 11px;
    align-self: flex-end;
}

.rating-container {
    position: relative;
    display: inline-block;
}

.rating-star-empty {
    position: absolute;
    background-image: url(../images/black-star-empty.png);
    background-size: 20px;
    height: 20px;
    background-repeat: repeat;
    padding: 0;
}

.rating-star-fill {
    position: absolute;
    background-image: url(../images/black-star-fill.png);
    background-size: 20px;
    height: 20px;
    background-repeat: repeat;
    padding: 0;
}
