@import 'common.css';

body {
    background-image: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.input-group-text {
    background-color: var(--default-btn-bg-color);
    color: var(--default-btn-text-color);
}

.surrounded {
    border: var(--default-btn-bg-color) 5px solid;
}

hr {
    background-image: linear-gradient(to right, #fff, #000, #fff);
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-btn {
    background-color: var(--default-btn-bg-color);
    color: white;
    width: 80px;
}

.register-btn {
    width: 80px;
    background-color: var(--default-btn-bg-color);
    color: white;
}

#ck-save-id-pass {
    margin-top: auto;
    margin-bottom: auto;
}

#register-ok-btn {
    background-color: var(--default-btn-bg-color);
    color: white;
}

#register-cancel-btn {
    background-color:slategray;
    color: white;
}


.logo-text {
    font-weight: bold;
}