@import url(common.css);

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.container * {
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu;
    font-size: 17px;
}

.container > table td {
    padding: 2px;
}

.login-btn {
    margin-left: 5px;
    background-color:tomato;
    width: 98px;
    height: 98px;
}

.register-btn {
    margin-left: 5px;
    background-color:yellowgreen;
    width: 98px;
    height: 40px;
}