@import 'common.css';





.notice-container {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border: 2px solid #000;
}

.notice-container img {
    border-radius: 18px;
}

.notice-btn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.review-container {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 1rem;
}

.request-container {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 1rem;
}





.notice-control-panel {
    position: absolute;
    display: flex;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    height: 40px;
    bottom: 10px;
    right: 0px;
    margin-right: 10px;
    background-color:#000;
    color: white;
}


.notice-control-panel button:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

.notice-control-panel .back {
    border: none;
    background-image: url(../images/back.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
}

.notice-control-panel .forward {
    border: none;
    background-image: url(../images/forward.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
}


